<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>UDAVA - Unsupervised learning for data validation</title>
        <link href="style.css" rel="stylesheet" type="text/css" title="Stylesheet">
    </head>

    
    <body>
        <header>
            <h1>UDAVA - Unsupervised learning for data validation</h1>
            <p>SINTEF Digital</p>
        </header>

        <!-- <a href="virtual_sensors">Virtual sensors</a> -->
  
        <footer>

        </footer>
    </body>


</html>


