        <div class=box>
            <h2>Overview over existing models</h2>

            <div class=overviewTable>
                <table>
                    <thead>
                        <tr>
                        <th>ID</td>
                        <th>Dataset name</th>
                        <th>Variable</th>
                        <th>TODO: Compute metric</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for model in models|reverse%}
                        <tr>
                            <td>{{models[model]["id"]}}</td>
                            <td>{{models[model]["params"]["featurize"]["dataset"]}}</td>
                            <td>{{models[model]["params"]["featurize"]["columns"]}}</td>
                            <td>NaN</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>

        </div>
